@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

*, html {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

p {
  color: hsl(235, 19%, 35%)
}

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: hsl(236, 33%, 92%);
}

.banner {
  background-image: url(./images/bg-desktop-light.jpg);
  background-size: cover;
  background-color: mediumblue;
  height: 35%;
}

.container {
  position: absolute;
  text-align: left;
  width: 37%;
  top: 10%;
  margin: 0 auto;
  left: 0;
  right: 0;
  padding: 5px;
}
