.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* DESKTOP VIEW */

.list {
  background-color: hsl(0, 0%, 98%);
  width: 100%;
  margin-top: 25px;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 3px 10px 30px rgba(204, 204, 204, 0.488);

  /* center items */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow: auto;
  height: 470px;
}

.listEmpty {
  margin-top: 200px;
  text-align: center;
}

.todoContainer {
  width: 100%;
  height: 100%;
}
.todoContainer li {
  list-style: none;
  padding: 20px;
  border-bottom: 1px solid hsl(233, 11%, 84%);
  display: flex;
  justify-content: space-between;
}
.row p {
  margin-left: 20px;
  cursor: pointer;
  font-size: 16px;
}

.row svg {
  color: hsl(233, 11%, 84%);
}

/* hover x icon */
.todoContainer li:hover .deleteIcon {
  visibility: visible;
  cursor: pointer;
}

.deleteIcon {
  color: hsl(236, 9%, 61%);
  visibility: hidden;
  transition-delay: 0.2;
}

/* FOOTER  */
.activeTab {
  color: hsl(220, 98%, 61%) !important;
}

.filters p:hover {
  color: hsl(235, 19%, 35%);
}

.completed:hover {
  color: hsl(234, 11%, 52%);
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: auto;
  width: 100%;
  padding: 20px;
  background-color: hsl(0, 0%, 98%);
  border-top: 1px solid hsl(233, 11%, 84%);
  font-size: 13px;
  box-shadow: 3px 10px 30px rgba(204, 204, 204, 0.488);
  border-radius: 0px 0px 5px 5px;
}

.footer p {
  color: hsl(233, 4%, 65%);
  font-weight: 600;
  cursor: pointer;
}

.footer div {
  display: flex;
  flex-direction: row;
}

.footer div > p {
  margin: 0px 10px;
}
